## üìÑ Dataset Overview: Used Car Price Prediction
For this project, I am using the Used Car Price Prediction Dataset sourced from Kaggle. The dataset is a collection of real-world used car listings from the popular automobile marketplace website https://www.cars.com. The dataset includes 9 distinct and informative feature variables that can be effectively used to predict a car's price.

Total Instances (Rows): 4,009

Total Features (Columns): 9 (excluding the target variable)

Kaggle Dataset: https://www.kaggle.com/datasets/taeefnajib/used-car-price-prediction-dataset/data

### üîç Features:

Brand: Manufacturer company names (e.g. Toyota, Camry, BMW)

Model: Specific Model of the car (e.g. Rover LR4 HSE, RC 350 F Sport)

Model Year: Manufacturing year, crucial feature for assessing depreciation and technology (YYYY)

Mileage: otal distance the car has been driven. A key factor to identify wear & tear of vehicle (in miles)

Fuel Type: Type of fuel used (e.g., Gasoline, Diesel, Hybrid)

Engine Type: Engine specifications (e.g., V6, 4-Cylinder)

Transmission: Type of transmission (e.g., automatic, manual)

Exterior & Interior Colors: aesthetic of cars

Accident History: Accident recorded in past or damage, crucial for informed decision-making. (Yes/No)

Clean Title: Informs about the vehicle's resale value and legal status (Yes/No)

### üéØ Target Variable:

Price: The listed price of the vehicle in USD (continuous numeric variable)

### üîß  Prediction Task
Objective: I aim to build a machine learning X model to predict the price of a used car based on its features. This model can assist buyers and sellers in estimating the fair value of a vehicle by analyzing historical data.

  ## 1. Load the Data

In [2]:
import pandas as pd                        # Importing libraries

In [6]:
df = pd.read_csv("used_cars.csv")          # Loading datset 
df.head()                                  # Verify the dataset

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

## 2. Explore the Data (EDA)